<h4>Componentes hijos en Angular</h4>

<hijo
  [propiedad_uno]="dato_externo"
  [texto]="identity.web"
  (desde_el_hijo)="recibirDatos($event)"
></hijo>

<h2>{{ titulo }}</h2>

<div *ngIf="administrador; then admin; else noAdmin"></div>

<ng-template #admin>
  <button (click)="cambiar(false)">Cambiar</button>
  <p><strong>Eres el administrador</strong></p>
</ng-template>

<ng-template #noAdmin>
  <button (click)="cambiar(true)">Cambiar</button>
  <p><strong>No eres el administrador</strong></p>
</ng-template>
